@layout AdminLayout

@page "/danh_muc_ad/Khoa_Kham"

@using Controller.DM_AD
@using Entity.DM_AD

@inject CAD_Khoa_Kham_Controller _db_Khoa_Kham

@inject IJSRuntime IJS
@inject IWebHostEnvironment env
@inject ILocalStorageService iLocalStorage

@if (p_strSessionValue == "")
{
    <p>Bạn cần đăng nhập để thực hiện chức năng</p>
}
else
{
    <h3>Hiển thị thông tin của các khoa khám</h3>
    <h4>Bảng thông tin các khoa khám</h4>
    <div class="row">
        <div class="col-md-12">
            <DxFormLayout>
                <DxFormLayoutGroup Caption="Import Excel" ColSpanMd="12">
                    <DxFormLayoutItem Context="FormLayoutImportExcelContext" ColSpanMd="6">
                        <Template>
                            <InputFile class="btn btn-sm dx-btn  btn-primary" OnChange="OnInputFileChange" id="InputFile_Custom" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Context="FormLayoutImportExcelContext" ColSpanMd="3">
                        <Template>
                            <DxButton Text="Submit" @onclick="Import_Excel" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Context="FormLayoutImportExcelContext" ColSpanMd="3">
                        <Template>
                            <a href="/FileManagement/Template/Template_Khoa_Kham.xlsx" download="Template_Khoa_Kham.xlsx">
                                <DxButton Text="Download Template" />
                            </a>
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>
            </DxFormLayout>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (p_arrKhoa_Kham == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <DxDataGrid Data="p_arrKhoa_Kham" EditMode="DataGridEditMode.PopupEditForm"
                            @ref="_Grid_Khoa_Kham"
                            RowRemoving="@OnRowDeleting"
                            RowInsertStart="@(() => OnRowStarting(null))"
                            RowEditStart="@((Item) => OnRowStarting(Item))">
                    <Columns>
                        <DxDataGridCommandColumn Width="150px" />
                        <DxDataGridColumn Caption="Tên khoa khám" Field="@nameof(CAD_Khoa_Kham.Ten_Khoa_Kham)" />
                        <DxDataGridColumn Caption="Mô tả" Field="@nameof(CAD_Khoa_Kham.Mo_Ta)" />
                    </Columns>
                    <EditFormTemplate>
                        <EditForm Model="p_objKhoa_Kham" Context="EditFormContext" OnValidSubmit="@HandleValiSubmit">
                            <DxFormLayout>
                                <DxFormLayoutItem Caption="Tên khoa khám" Context="FormLayoutContext" ColSpanMd="12">
                                    <Template>
                                        <DxTextBox @bind-Text="p_objKhoa_Kham.Ten_Khoa_Kham" />
                                    </Template>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Caption="Mô tả" Context="FormLayoutContext" ColSpanMd="12">
                                    <Template>
                                        <DxMemo @bind-Text="p_objKhoa_Kham.Mo_Ta" />
                                    </Template>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Context="FormLayoutContext" ColSpanMd="12">
                                    <Template>
                                        <div class="text-right">
                                            <DxButton RenderStyle="ButtonRenderStyle.Link" SubmitFormOnClick="true" Text="Update" />
                                            <DxButton RenderStyle="ButtonRenderStyle.Link" Click="OnCancelButtonClick" Text="Cancel" />
                                        </div>
                                    </Template>
                                </DxFormLayoutItem>
                            </DxFormLayout>
                        </EditForm>
                    </EditFormTemplate>
                </DxDataGrid>
            }
        </div>
    </div>
}
